<!DOCTYPE html>
<html>

<head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Page Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <% include ./partial/bootstrap %>
        <script src="main.js"></script>
</head>

<body>
        <% include ./partial/navbar %>

        <div class="container">
                <h2>ALL <%= name.toUpperCase() %> DATA</h2>
                <p><a href="/<%= name%>/add">add <%= name %></a></p>
                <table class="table table-hover">
                        <% if(name == 'subjects') { %>
                        <% include ./partial/list_table_subject %>
                        <% } else if (name == 'teachers') { %>
                        <% include ./partial/list_table_teachers %>
                        <% } else { %>
                        <% include ./partial/list_table_person %>
                        <% } %>

                </table>
        </div>


</body>

</html>